@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

:root {
    --cor-azul-escuro: #0D4C87;
    --cor-azul-claro: #07A0C3;
    --cor-vermelho: #AF1B3F;
    --cor-verde: #7C8700;
    --cor-roxo: #9A94BC;
    --cor-branco: #F0EFEB;
    --cor-preto: #000F08;

    --fonte-principal: 'Roboto Flex', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

main {
    width: 90vw;
    max-width: 520px;
    font-family: var(--fonte-principal);
    margin: 1rem auto;
    border: 2px solid var(--cor-preto);
    padding: 2rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2.5rem auto;
}

div#container {
    color: var(--cor-branco);
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "lista-atributos pontos"
                        "total-pontos classe"
                        "select classe"
                        "button button";
    
    place-items: center end;
}

ul#lista-atributos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}
ul#lista-atributos > li.atributo {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    list-style: none;
    width: 110%;
    height: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    font-variant: small-caps;
    background-color: var(--cor-azul-escuro);

    -webkit-clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0, 76% 100%, 0% 100%);

    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul#lista-atributos > li.atributo > span.atributo-valor {
    width: 7.5rem;
    height: 3.5rem;
    margin: 0 1.5rem;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    text-align: center;

    -webkit-clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
}

abbr.info{
    text-decoration: none;
}

select#classes-escolher, button#btn {
    display: block;
    margin: 1rem auto 0 0;
    height: 6rem;
    width: 90%;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 2rem;
    cursor: pointer;
}

select#classes-escolher{
    background-color: var(--cor-branco);
    color: var(--cor-azul-escuro);
    border-color: var(--cor-azul-escuro);

    grid-area: select;
}
select#classes-escolher option {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
}

fieldset {
    justify-self: start;
    width: 90%;
    padding: 1rem;
    background-color: var(--cor-verde);
    border: none;
    border-radius: 15px;

    grid-area: total-pontos;
}
fieldset > label {
    font-size: 2rem;
}
fieldset > input#pontosTotais {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    border: none;
    margin-top: 1.2rem;
}

button#btn {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
    width: 100%;
    transition: all 0.3s ease-in-out;

    grid-area: button;
}
button#btn:hover {
    background-color: var(--cor-preto);
}

/* LADO DIREITO: */
section#pontos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;

    grid-area: pontos;
}
div.circulo {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.circulo > p:not(.semicirculo) {
    margin-top: 2rem;
    font-weight: bold;
}
div.circulo > p.semicirculo {
    width: 100%;
    height: 50%;
    background-color: var(--cor-branco);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    justify-self: end;
    color: var(--cor-preto);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#pv {
    background-color: var(--cor-vermelho);
}
#pf {
    background-color: var(--cor-verde);
}
#pm {
    background-color: var(--cor-azul-claro);
}

div#classe-exibir {
    width: 13rem;
    height: fit-content;
    background-color: var(--cor-roxo);
    text-align: center;
    font-size: 3rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    margin-top: 1rem;

    grid-area: classe;
}
div#classe-exibir img {
    width: 12rem;
    margin-bottom: -1rem;
}

footer {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--fonte-principal);
}

ul#lista-atributos, select#classes-escolher, fieldset, button#btn, div.circulo, div#classe-exibir {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (768px <= width) {
    html {
        font-size: 12px;
    }

    main {
        width: 95vw;
        max-width: 1024px;
    }

    div#container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "lista-atributos classe classe"
                            "total-pontos pontos pontos"
                            "select button button";
    }

    ul#lista-atributos {
        width: 40vw;
        max-width: 410px;
    }

    button#btn {
        width: 90%;
    }

    section#pontos {
        flex-direction: row;
    }

    div.circulo {
        width: 8rem;
        height: 8rem;
        font-size: 2rem;
        padding: 0.5rem;
    }
    div.circulo > p:not(.semicirculo) {
        margin-top: 1rem;
    }

    div#classe-exibir {
        width: 40vw;
        max-width: 300px;
        height: 100%;
        margin-top: 0;
    }
    div#classe-exibir img {
        width: 80%;
        margin-bottom: 0;
    }
}